@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

body{
    background-color: bisque;
}

header{
    text-align: center;
    border: 5px solid #331A8A;
    border-radius: 20px;
    background-color: #D6C954;
    }
#titulo{
    font-family: 'Bungee', cursive;
    font-size: 40px;
    padding: 0px;
}
#lema{
    font-size: 25px;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #331A8A;
    border-radius: 20px;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active){
    background-color: #8A802B;
}
.active{
    background-color: #7055D6;
}
.jordan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
    border-radius: 20px;
}

.catalogo{
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    border-radius: 20px;
}
div.gallery:hover {
    border: 1px solid #777;
    opacity: 50%;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Ramaraja', serif;
}
